<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/template/template.css">

</head>
<body>
<!-- header------------------------------------------------- -->
  <header>

    <!-- title container -->
    <div class="container container_solid">
      <div class="title">
        <h1>Økonomisk usikkerhet blant studenter</h1>
      </div>
    </div>
  
    <!-- image container -->
    <div class="container container_image" aria-hidden="true">
      <div class="title">
        <h1>Økonomisk usikkerhet blant studenter</h1>
      </div>
    </div>
  
  </header>
<!-- main -->
  <main>
      <!-- introoooooooooooooooooooooooooooooooooooo -->
    <section>
      <h2>Yasahr sliter med utgifter uten ekstra inntekt.</h2>
      <p>Med matpriser som har økt med 6 % og strømpriser som stiger, blir økonomien strammere for studenter. 
        Hvordan økte kostnader og begrenset økonomisk støtte skaper utfordringer for studenter
      </p>
    </section>

    
    
  </main>







    <script src="/template/template.js"></script>
</body>
</html>